@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;300;800&family=Lato:wght@100;300;400;700;900&family=Rubik+Vinyl&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

div.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
div.wrapper h1 {
  text-align: center;
  font-family: "Rubik Vinyl", cursive;
  font-size: 3em;
  margin: 20px 0;
}
div.wrapper section.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.wrapper section.scores h2 {
  font-family: "Rubik Vinyl", cursive;
  font-size: 2em;
  margin-bottom: 15px;
}
div.wrapper section.scores div.display-scores {
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.wrapper section.scores div.display-scores div.score-container {
  display: flex;
  margin: 5px 10px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
div.wrapper section.scores div.display-scores div.score-container > * {
  background-color: transparent;
}
div.wrapper section.scores div.display-scores > :nth-child(even) {
  background-color: rgb(155, 145, 145);
}
div.wrapper section.scores div.display-scores > :nth-child(even):hover {
  background-color: rgba(200, 200, 250, 0.7);
}
div.wrapper section.scores div.display-scores > :nth-child(odd) {
  background-color: rgb(64, 59, 59);
}
div.wrapper section.scores div.display-scores > :nth-child(odd):hover {
  background-color: rgba(88, 88, 174, 0.7);
}
div.wrapper section.scores input[type=button] {
  all: unset;
  cursor: pointer;
  margin: 5px auto;
  width: 95%;
  text-align: center;
  box-shadow: 0 0 3px 2px rgba(5, 5, 159, 0.7);
  padding: 20px 0;
  border-radius: 5px;
  font-family: "Rubik Vinyl", cursive;
}
div.wrapper section.scores input[type=button]:active {
  box-shadow: 0 0 1px 1px rgba(2, 2, 88, 0.7);
  background-color: rgba(2, 2, 88, 0.7);
}

.fa-user {
  background-color: inherit;
}

div.name-score {
  margin-left: auto;
  display: flex;
  text-align: center;
}
div.name-score p {
  background-color: inherit;
  margin-left: 10px;
  font-size: 2em;
  font-family: "Rubik Vinyl", cursive;
  display: flex;
  align-items: center;
  color: rgb(189, 208, 43);
}

.rank {
  font-size: 3em;
  margin-right: 10px;
}

section.add-score-form {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(27, 27, 235, 0.3);
}
section.add-score-form #scores-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  height: 100%;
  padding: 20px 10px;
  background-color: rgb(7, 7, 133);
  font-family: "Rubik Vinyl", cursive;
  /* Remove Arrows/Spinners firefox */
  /* Remove Arrows/Spinners Chrome, Safari, Edge, Opera */
}
section.add-score-form #scores-form .close-btn {
  background-color: inherit;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}
section.add-score-form #scores-form h2 {
  margin-bottom: 100px;
  font-size: 2em;
  text-align: center;
  background-color: inherit;
  color: rgb(218, 235, 27);
}
section.add-score-form #scores-form input {
  all: unset;
  height: 50px;
  box-sizing: border-box;
  font-size: 1.5em;
}
section.add-score-form #scores-form input[type=text],
section.add-score-form #scores-form input[type=number] {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(2, 2, 88, 0.7);
  color: yellowgreen;
}
section.add-score-form #scores-form input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
section.add-score-form #scores-form input::-webkit-outer-spin-button,
section.add-score-form #scores-form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section.add-score-form #scores-form input[type=submit] {
  text-align: center;
  background-color: rgba(2, 2, 88, 0.7);
  margin-top: 20px;
  cursor: pointer;
}

@media (width >= 920px) {
  div.content {
    display: flex;
  }
  section.add-score-form {
    display: flex;
    width: 52%;
    height: 400px;
    position: fixed;
    left: 45%;
    top: 130px;
    background-color: rgba(27, 27, 235, 0.3);
  }
  section.add-score-form #scores-form {
    width: 100%;
  }
  section.add-score-form #scores-form .close-btn {
    display: none;
  }
  section.add-score-form #scores-form h2 {
    margin-bottom: 50px;
  }
  section.scores {
    display: flex;
  }
  section.scores #add-score-btn {
    display: none;
  }
  section.scores #refresh-btn {
    order: -2;
    width: 20%;
    display: none;
  }
  section.scores .scores h2 {
    width: 40%;
  }
}
.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */