/* * {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none;
  font-size: 12px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  height: 100vh;
  border-color: aqua;
  animation-name: changing-bg;
  animation-duration: 10s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-play-state: running;
  animation-direction: alternate;
}

@keyframes changing-bg {
  0% {
    background-color: rgba(145, 46, 165, 0.2);
  }
  50% {
    background-color: rgba(126, 206, 22, 0.2);
  }
  100%  {
  background-color:rgba(15, 204, 147, 0.2);
  }
}

h1 {
  font-size: 4em;
  padding: 20px 20px;
}

h2 {
  font-size: 1.5em;
}

h2, h1 {
  color:cadetblue
}

.content {
  flex-wrap: wrap;
}

section {
  width: 50%;
  min-width: 300px;
  align-items: center;
}

.sub-title-2 {
  margin: 20px 0;
}

.scores-title {
  justify-content: space-between;
}

.add-scores-title {
  justify-content: center;
}

form {
  width: 50%;
}

input[type='text'],
input[type="submit"] {
  all: unset;
  outline: 1px solid rgba(150, 150, 150, 0.5);
  margin-bottom: 30px;
  height: 40px;
  border-radius: 5px;
}

input[type='text'] {
  padding: 4px 10px;
  font-size: 1.5em;
}

input[type="submit"] {
  width: 50%;
  align-self: flex-end;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

input[type='button'] {
  all: unset;
  text-align: center;
  padding: 4px 10px;
  height: 20px;
  width: 80px;
  border-radius: 5px;
  color:cadetblue;
  font-weight: bold;
  background-color: rgba(145, 46, 165, 0.2);

}

.scores-display,
h2,
input[type='button'] {
  margin: 0  50px;
}

input[type="submit"]:hover,
input[type='button']:hover {
  background-color: rgba(0, 0, 0, 0.2);
 
  color:white;
}

input[type="submit"]:active,
input[type='button']:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
}

.scores-display {
  height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(15, 204, 147, 0.2);
  background-color: antiquewhite;

}

.score-container {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 5px 0 10px;
  background-color: white;
  border-bottom: 1px solid antiquewhite;
}

.name-score {
  display:flex;
  flex-direction:column;
}

.name-score p {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight:bold;
}

.name-score p:nth-child(odd) {
  text-transform: capitalize;
  color:rgb(20,20,200, .6);
}

.name-score p:nth-child(even) {
  color:rgb(20,20,20, .6);
}

.rank {
  font-size: 1.5em;
  color:rgba(100, 100, 100, 0.3);
  font-weight: bold;
  margin-right:10px;
}

.fa-user {
  color:rgba(118, 8, 209, 0.3);
}
.scores-display p {
  height: 30px;
  padding: 3px 15px;
  line-height: 30px;
  font-size: 1.3em;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }

  .content section {
    min-width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    align-self: center;
    text-align: center;
  }

  form {
    width: 100%;
    padding: 0 40px;
  }
}

::-webkit-scrollbar {
  display: none;
} */
