*{
  padding:0;
  margin:0;
  border-radius:none;
  background:none;
  font-size: 12px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  height: 100vh;
}

h1 {
  font-size: 4em;
  padding:20px 20px;
}

.content {
  flex-wrap: wrap;
} 

section {
  width:50%;
  min-width: 300px;
  align-items: center;
}

.sub-title-2 {
  margin: 20px 0;
}

h2 {
  font-size:1.5em;
}

.scores-title {
  justify-content: space-between;
}

.add-scores-title {
  justify-content: center;
}

form {
  width:50%;
}

input[type='text'], input[type="submit"]  {
  all:unset;
  outline:1px solid rgba(150,150,150, 0.5);
  margin-bottom:30px;
  height:40px;
  border-radius: 5px;
}

input[type='text'] {
  padding:4px 10px;
  font-size:1.5em;

}

input[type="submit"] {
  width:50%;
  align-self:flex-end;
  text-align: center;
  cursor:pointer;
  font-weight: bold;
}

input[type='button'] {
  all:unset;
  border:1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  padding:4px 10px;
  height: 20px;
  width:80px;
  border-radius: 5px;
}

input[type="submit"]:hover, input[type='button']:hover {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border:1px solid rgba(0, 0, 0, 0.1);
}

input[type="submit"]:active, input[type='button']:active {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
  border:1px solid rgba(0, 0, 0, 0.1);;;
}

.scores-display {
  outline:1px solid black;
  height: 360px;
  overflow-y: scroll;
}

.scores-display , h2 , input[type='button'] {
  margin: 0  50px; 
}

.scores-display p {
  height:30px;
  padding:3px 15px;
  line-height: 30px;
  font-size: 1.3em;
}

.scores-display p:nth-child(even) {
 background-color: rgba(0, 0, 0, 0.2);
}




/* common classes */
.flex-col {
  display:flex;
  flex-direction: column;
}

.flex-row {
  display:flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {

  h1 {
    text-align: center;
  }
  .content section {
    min-width:100%;
  }

  input[type="submit"] {
    width:100%;
    align-self:center;
    text-align: center;
  }

  form {
    width:100%;
    padding: 0 40px;
  }
}

